html, body {
   /*margin-left: 50px;
   margin-right: 50px;*/
}

* {
    border: 2px dotted red;
}
/*-----------------------------------*/
/*Header*/

.header {
    display: flex;
    background-color: #1f2937;
    font-size: 18px;
    color: #E5E7EB;
    padding-left: 50px;
    padding-right: 50px;
    
}

.header .h-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.h1-link {
    margin-left: auto;
}
/*-----------------------------------*/
/*Hero*/

.hero {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #1f2937;
    /*justify-content: space-evenly;*/

}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.hero-t1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-t2 {
    font-size: 24px;
    color: #E5E7EB;
}

.image-box {
    padding: 100px;
}
/*-----------------------------------*/

/*-----------------------------------*/

/*-----------------------------------*/
