html, body {
   margin-left: 50px;
   margin-right: 50px;
   margin-top: auto;
}

* {
    border: 2px dotted red;
}
/*-----------------------------------*/
/*Header*/

.header {
    display: flex;
    background-color: #1f2937;
    font-size: 18px;
    color: #E5E7EB;
    padding-left: 75px;
    padding-right: 75px;
    
}

.header .h-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.h1-link {
    margin-left: auto;
}
/*-----------------------------------*/
/*Hero*/

.hero {
    display: flex;
    /*padding-left: 50px;
    padding-right: 50px;*/
    padding: 50px 75px 50px 75px;
    background-color: #1f2937;
    /*justify-content: space-evenly;*/

}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.hero-t1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-t2 {
    font-size: 24px;
    color: #E5E7EB;
}

.image-box {
    padding: 100px;
    background-color: gray;
}

.button-one {
    font-size: 24px;
    color: #F9FAF8;
    background-color: #3882F6;
    margin-right: auto;
}
/*-----------------------------------*/
/*random*/

.random {
    /*padding: 50px 75px 50px 75px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-row {
    margin:auto;
    padding: 25px;
    font-size: 36px;
}

.bottom-row {
    display: flex;
    justify-content: center;

    margin-bottom: 40px;

}

.bottom-row > div:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
}

.bottom-row > div:nth-child(3) {
    margin-right: 20px;
}


.img-1 {
    background-color: blue;
    height: 100px;
    width: 100px;
}

.subtext-1 {
    width: 100px;
}



/*-----------------------------------*/
/*Quote*/
.quote-section {
    background-color: #E5E7EB;
    font-size: 36px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-style: italic;
    color: #1F2937;
    
    margin: auto;
}

.credit {
    margin-left: auto;
    
}

/*-----------------------------------*/
